* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 24px;
}

.browse {
  display: flex;
  padding: 1px 10px 2px 10px;
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  position: relative;
}

summary {
  display: block;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

.browse-box_list::before {
  content: "";
  display: block;
  height: 16px;
  width: 16px;
  background-color: white;
  position: absolute;
  left: 92px;
  top: -8px;
  transform: rotate(45deg);
}

.browse-box {
  position: relative;
}
.browse-box_list {
  z-index: 1;
  left: -87px;
  position: absolute;
  padding-bottom: 22px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.browse-box_items {
  display: flex;
}
.browse-box_caret {
  padding-left: 8px;
}
.browse-box_menu-list {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}
.browse-box_item {
  padding-left: 20px;
  text-align: left;
  font-family: Lato;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #4f4f4f;
}
.browse-box_item:hover {
  color: #f16d7f;
}
.browse-box_subtitle {
  padding-left: 15px;
  padding-top: 19px;
  text-align: left;
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
}
.browse-box_stick-menu {
  width: 236px;
  height: 1px;
  background-color: #e8e8e8;
}

.brand {
  padding-left: 13px;
  padding-right: 46px;
  font-family: Lato;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}

.brand::after {
  content: "d";
  font-weight: 900;
  color: #f16d7f;
}

.header-left {
  display: flex;
  align-items: center;
}

.browse-form {
  display: flex;
  align-items: center;
}

.browse-input {
  outline: none;
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
  padding: 1px 117px 2px 16px;
}

.searc {
  border: solid 1px;
  padding: 9px 10px;
  font-family: "Font Awesome";
  color: #a4a4a4;
  background-color: white;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-right {
  display: flex;
  border: solid 1px;
  margin-left: 26px;
  font-family: Lato;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  padding: 2px 21px 3px 19px;
  position: relative;
  background-color: #f16d7f;
  border-radius: 3px;
}

.Account-box {
  position: relative;
}
.Account-box_list {
  top: 35px;
  left: -180px;
  padding: 20px 15px 20px 17px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.Account-box_stick-menu {
  display: block;
  width: 229px;
  height: 1px;
  background-color: rgba(237, 237, 237, 0.74);
}
.Account-box_subtitle {
  font-family: Lato;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.Account-box_menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Account-box_rev {
  display: flex;
  align-items: center;
}
.Account-box_menu-list {
  padding-right: 30px;
  padding-left: 14px;
}
.Account-box_price {
  font-family: Lato;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #f16d7f;
}
.Account-box_menu-total {
  display: flex;
  justify-content: space-between;
}
.Account-box_total {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.Account-box_button-top {
  display: block;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 32px;
  padding: 19px 74px;
  color: #f16d7f;
  border: solid 1px;
  background-color: white;
}
.Account-box_button-top:hover {
  background-color: #f16d7f;
  color: #222222;
}
.Account-box_button-bot {
  display: block;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 11px;
  padding: 18px 70px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  color: #4a4a4a;
}
.Account-box_button-bot:hover {
  background-color: #222224;
  color: #f16d7f;
}

.fa-circle-xmark {
  color: black;
  content: "\f057";
}
.fa-circle-xmark:hover {
  cursor: pointer;
  color: #f16d7f;
}

.navigation {
  padding-top: 22px;
  padding-bottom: 19px;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.menu_list {
  position: relative;
}

.menu_link {
  padding: 20px 20px;
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.mega-box {
  padding: 21px 25px;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 30px;
  left: -20px;
  display: none;
}

.menu-item {
  padding-left: 46px;
}

.menu-item:last-of-type {
  margin-right: 0;
}

.menu_list:hover .mega-box {
  display: flex;
  z-index: 1;
}

.mega-box::before {
  content: "";
  display: block;
  height: 16px;
  width: 16px;
  background-color: white;
  position: absolute;
  left: 45px;
  top: -9px;
  transform: rotate(45deg);
  border-top: solid 1px #e8e8e8;
  border-left: solid 1px #e8e8e8;
}

.menu-item1 {
  padding-top: 37px;
}

.mega-box_logo {
  margin-top: 22px;
  display: block;
  width: 225px;
  height: 118px;
  background: url(images/rectangle_23_1802.png);
}

.last:hover .mega-box {
  right: 0;
  left: auto;
}

.last:hover .mega-box::before {
  right: 35px;
  left: auto;
}

.menu-title {
  width: 235px;
  border-bottom: 1px solid #e8e8e8;
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  margin-bottom: 16px;
}

.mega-link {
  font-family: Lato;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #646464;
  display: block;
}
.mega-link:hover {
  color: #f16d7f;
}

.title {
  font-family: Lato;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
}

.title-small {
  font-family: Lato;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
}

.main {
  background-color: #e8e8e8;
  height: 613px;
}

.big-photo {
  height: 100%;
  background: url(images/layer_24_1125.png) no-repeat 0 -131px;
}

.stick {
  margin-top: 15px;
  background-color: #f16d7f;
  width: 12px;
  height: 95px;
}

.main-left {
  display: flex;
  gap: 10px;
  padding-top: 235px;
}

.title-small::after {
  padding: 10px;
  content: "FASHION";
  color: #f16d7f;
}

.categories {
  gap: 21px;
  padding-top: 98px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(2, 560px);
  grid-template-rows: repeat(3, 261px);
  justify-content: center;
}

.categories-logo {
  grid-row: span 2;
  background: url(images/rectangle_19_1130.png);
}

.categories-logo1 {
  background: url(images/rectangle_19_copy_1136.png);
}

.categories-logo2 {
  background: url(images/rectangle_19_copy_3_1144.png);
}

.categories-logo3 {
  grid-row: span 2;
  background: url(images/rectangle_19_copy_2_1137.png);
}

.categories-logo:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.categories-logo1:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.categories-logo2:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.categories-logo3:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.for {
  display: grid;
  width: 175px;
  height: 82px;
  background-color: #ffffff;
  margin-top: 26px;
}

.for2 {
  display: grid;
  width: 225px;
  height: 82px;
  background-color: #ffffff;
  margin-top: 26px;
}

.for-text::before {
  content: "hOT dEAL";
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}

.for-text {
  display: grid;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: Lato;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.for-text1::before {
  content: "30% offer";
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}

.for-text1 {
  display: grid;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: Lato;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.for-text2::before {
  content: "LUXIROUS & trendy";
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}

.for-text2 {
  display: grid;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: Lato;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.for-text3::before {
  content: "new arrivals";
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}

.for-text3 {
  display: grid;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: Lato;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.products-subtitle {
  line-height: 0.7;
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
}

.products-description {
  font-family: Lato;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
}

.products-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setka {
  padding-top: 60px;
  padding-bottom: 79px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 263px);
  grid-template-rows: repeat(2, 360px);
  gap: 32px;
}

.product {
  position: relative;
}

.product_button1 {
  top: 98px;
  align-items: center;
  position: absolute;
  border: 1px solid white;
  padding: 8px;
  background-color: transparent;
  display: none;
  pointer-events: all;
  border-radius: 3px;
}

.add-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.product_text {
  padding: 15px 20px 15px 15px;
}

.product_add {
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  color: #f7f3f3;
  margin-left: 8px;
}

.product:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.product:hover .product_button1 {
  box-shadow: 0 0 10px 0px #fff;
  display: flex;
}

.product_link {
  width: 263px;
  display: block;
}

.product_pict {
  width: 100%;
}

.product:hover .product_pict {
  filter: brightness(30%);
}

.product_subtitle {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  color: #222222;
}

.price {
  padding-top: 17px;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}

.product_button {
  border: 1px;
  padding: 3px 25px 3px 24px;
  font-family: Lato;
  font-size: 16px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  background-color: #f16d7f;
}

.all_product {
  display: flex;
  justify-content: center;
}

.product_button:hover {
  background-color: #222222;
  color: #f16d7f;
}

.banner {
  display: flex;
  justify-content: center;
  padding-top: 113px;
  padding-bottom: 100px;
}

.banner-left {
  background: url(images/Banner.png);
  width: 767px;
  height: 529px;
}
.banner-left_text {
  padding-top: 146px;
  padding-left: 39px;
  font-family: Lato;
  font-size: 53.7px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.banner-left_text::after {
  content: "OFFER";
  font-family: Lato;
  font-size: 53.7px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}
.banner-left_text1 {
  padding-left: 39px;
  font-family: Lato;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.banner-right {
  width: 373px;
  height: 529px;
  background-color: #222222;
}

.text_banner {
  padding-top: 55px;
  padding-left: 36px;
  font-family: Lato;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}

.text_banner_info {
  padding-left: 111px;
  width: 90%;
  padding-top: 17px;
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}

.banner_dsc {
  display: flex;
}

.contact-info {
  display: flex;
  height: 438px;
  background: url(images/fon31.png);
  background-size: cover;
  background-position: bottom;
  background-color: rgba(242, 242, 242, 0.5);
}

.info_lefttext {
  display: flex;
  padding-top: 111px;
}

.contact-info_left_text {
  padding-left: 28px;
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222222;
}

.contact-info_left_text1 {
  padding-left: 130px;
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.contact-info_left_text1::after {
  content: "Dhaka, Bd";
  display: block;
  font-family: Lato;
  letter-spacing: 0.025em;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  color: #222222;
}

.banner_logo {
  padding-top: 40px;
  padding-left: 33px;
}

.contact-info_left_slide {
  display: flex;
  padding-top: 41px;
  padding-left: 130px;
  gap: 13px;
}

.slide {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}

.slide1 {
  width: 38px;
  height: 4px;
  background-color: #f16d7f;
}

.slide2 {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}

.stick_big {
  margin-right: 92px;
  margin-left: 72px;
  width: 1px;
  height: 438px;
  background-color: #ffffff;
}

.contact-info_right {
  padding-top: 148px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info_right_text {
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;
}

.contact-info_right-form {
  display: flex;
}

.contact-info_right_text1 {
  padding-bottom: 35px;
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;
  text-transform: none;
}

.input-info {
  outline: none;
  background-color: #e1e1e1;
  border: 1px;
  padding: 9px 163px 9px 28px;
  font-family: Lato;
  font-size: 14px;
  border-radius: 30px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
}

.info-button {
  right: 0;
  margin-left: -50px;
  border: 1px;
  background-color: #f16d7f;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-family: Lato;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  padding: 10px 20px 10px 21px;
}

.info-button:hover {
  background-color: #222222;
  color: #f16d7f;
}

.footer {
  padding-top: 109px;
}
.footer_top {
  padding-bottom: 89px;
  display: flex;
}
.footer_text {
  width: 94%;
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}
.footer_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer_contact {
  padding-left: 64px;
  display: flex;
  flex-direction: column;
}
.footer_company-text {
  font-family: Lato;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}
.footer_link {
  height: 53px;
  font-family: Lato;
  font-size: 16px;
  line-height: 59px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
}
.footer_link:hover {
  color: #f16d7f;
}
.footer_info {
  max-width: 40%;
  gap: 30px;
  display: flex;
  flex-direction: column;
}
.footer_nav {
  display: flex;
}
.footer_information {
  padding-left: 129px;
  display: flex;
  flex-direction: column;
}
.footer_shop {
  padding-left: 80px;
  display: flex;
  flex-direction: column;
}
.footer_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e6e6e6;
}
.footer_bottom-info {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer_bottom-text {
  font-family: Lato;
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
  padding-top: 33px;
  padding-bottom: 33px;
}
.footer_bottom-nav {
  padding: 12px 10px 8px 10px;
  background-color: #ffffff;
}
.footer_bottom-nav:hover {
  background-color: #f16d7f;
}

.fa-linkedin-in {
  color: black;
}

.fa-google {
  color: black;
}

/* 2page */
.designation {
  border-bottom: solid 3px #ef5b70;
}

.bredcrumbs {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #f8f3f4;
}
.bredcrumbs_head {
  font-family: Lato;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}
.bredcrumbs_link {
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}
.bredcrumbs .bredcrumbs_link-inner {
  font-weight: 700;
  color: #f16d7f;
}

.operation {
  padding-top: 89px;
  display: flex;
}

.fa-angles-right {
  padding-right: 4px;
}

.operation-opportunities_subtitle {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.operation-opportunities_registr {
  padding-left: 30px;
}
.operation-opportunities_text {
  padding-top: 39px;
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.operation-opportunities_textsmall {
  padding-top: 15px;
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #b3b2b2;
}
.operation-opportunities_blank {
  padding-bottom: 79px;
  display: flex;
}
.operation-opportunities_form {
  padding-top: 34px;
  display: flex;
}
.operation-opportunities_form1 {
  padding-top: 20px;
  display: flex;
}
.operation-opportunities_form-text {
  padding-left: 14px;
  font-family: Lato;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.operation-opportunities_textopacity {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #b3b2b2;
}
.operation-opportunities_bottext {
  padding-top: 36px;
  padding-bottom: 38px;
}
.operation-opportunities_bottom {
  padding-bottom: 93px;
}
.operation-opportunities_stick {
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  width: 1140px;
  height: 1px;
  background-color: #e8e8e8;
}
.operation-opportunities_button {
  border: 1px solid #eaeaea;
  padding: 19px 54px;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  background-color: #ffffff;
}
.operation-opportunities_button:hover {
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.1);
}

.operation-formregistry {
  padding-left: 349px;
}
.operation-formregistry_subtitle {
  padding-top: 39px;
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.operation-formregistry_textopacity {
  padding-top: 15px;
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #b3b2b2;
}
.operation-formregistry_textemail {
  padding-top: 23px;
  padding-bottom: 16px;
  font-family: Lato;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  color: #222222;
}
.operation-formregistry_textemail::after {
  content: "*";
  font-family: Lato;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #ff0d0d;
}
.operation-formregistry_input {
  display: block;
  border: none;
  outline: none;
  padding: 15px 159px 15px 16px;
  color: #333;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.1);
}
.operation-formregistry_textred {
  padding-top: 22px;
  padding-bottom: 32px;
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  color: #ff0d0d;
}
.operation-formregistry_buttontext {
  display: flex;
  align-items: center;
}
.operation-formregistry_button {
  padding: 19px 55px;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}
.operation-formregistry_button:hover {
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.1);
}
.operation-formregistry_textpass {
  padding-left: 32px;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #222222;
}

/*pagr 3*/
.article {
  padding-bottom: 110px;
  padding-top: 59px;
}

.article-section {
  display: flex;
  padding-left: 288px;
}

.product-choice_section {
  padding-bottom: 25px;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
}
.product-choice_trending {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 5px;
}
.product-choice_trendingtext {
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
}

.product-choice1 {
  padding-left: 115px;
}
.product-choice1_section {
  padding-bottom: 25px;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
}
.product-choice1_size {
  display: grid;
  grid-template-columns: repeat(8, 15px);
  grid-template-rows: repeat(2, 15px);
  gap: 13px;
  align-items: center;
}
.product-choice1_sizetext {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #6f6e6e;
}

.product-choice2 {
  padding-left: 58px;
}
.product-choice2_text {
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
}
.product-choice2_price {
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
}
.product-choice2_price-text {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
}

input[type=range] {
  height: 7px;
  border-radius: 3px;
  width: 262px;
  cursor: pointer;
  margin-top: 24px;
  accent-color: #f16d7f;
}

.sort {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 288px;
  margin-top: 41px;
  padding: 9px;
  background-color: #f3f3f3;
  width: 846px;
  height: 50px;
}
.sort_label {
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
  padding: 1px 13px 1px 5px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
}
.sort_form {
  display: flex;
}
.sort_caret {
  padding-left: 21px;
}
.sort_input {
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
}

.side-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 18px;
  left: 0;
}

.details-menu {
  display: flex;
  flex-direction: column;
}
.details-menu_subtitle {
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
}
.details-menu_stick {
  display: flex;
  justify-content: space-between;
  padding: 12px 12px 14px 12px;
  border-left: 5px solid #f16d7f;
  border-bottom: 1px solid #ebebeb;
}
.details-menu_caret {
  padding-left: 137px;
}
.details-menu_caret:hover {
  cursor: pointer;
}
.details-menu_nav {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
}
.details-menu_link {
  padding-left: 12px;
  font-family: Lato;
  font-size: 14px;
  line-height: 33px;
  font-weight: 400;
  color: #6f6e6e;
}
.details-menu_link:hover {
  color: #f16d7f;
}

.details-menu_navigation[open] .details-menu_caret {
  color: #f16d7f;
}
.details-menu_navigation[open] .fa-caret-down {
  transform: rotate(180deg);
}
.details-menu_navigation[open] .details-menu_subtitle {
  color: #f16d7f;
}

.setka1 {
  padding-top: 47px;
  padding-bottom: 43px;
  padding-left: 280px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 263px);
  grid-template-rows: repeat(2, 364px);
  -moz-column-gap: 29px;
       column-gap: 29px;
  row-gap: 36px;
}

.product_button2 {
  top: 145px;
  left: 69px;
  position: absolute;
  border: 1px solid white;
  padding: 8px;
  background-color: transparent;
  display: none;
  pointer-events: all;
  padding: 13px 17px 13px 18px;
  margin-top: 8px;
  border-radius: 3px;
}

.product:hover .product_button2 {
  box-shadow: 0 0 10px 0px #fff;
  display: flex;
}

.add-box1 {
  width: 100%;
  display: flex;
}

.product_button3 {
  top: 145px;
  left: 135px;
  position: absolute;
  border: 1px solid white;
  padding: 8px;
  background-color: transparent;
  display: none;
  pointer-events: all;
  padding: 12px 20px 11px 21px;
  margin-top: 8px;
  border-radius: 3px;
}

.product:hover .product_button3 {
  box-shadow: 0 0 10px 0px #fff;
  display: flex;
}

.bottom-nav {
  padding-left: 280px;
  display: flex;
  justify-content: space-between;
}
.bottom-nav_pages {
  display: flex;
  list-style-type: none;
  padding: 15px 15px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
}
.bottom-nav_page-link {
  padding: 7px;
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #c4c4c4;
}
.bottom-nav_button {
  padding: 16px 45px;
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #ef5b70;
  background-color: #ffffff;
  border: 1px solid #ef5b70;
  border-radius: 3px;
}

.section-banner {
  background-color: #222224;
  display: flex;
  padding-left: 256px;
  padding-right: 256px;
}
.section-banner_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-banner_images {
  height: 100%;
  padding-top: 89px;
}
.section-banner_subtitle {
  font-family: Lato;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  padding-top: 23px;
}
.section-banner_description {
  max-width: 87%;
  font-family: Lato;
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  padding-top: 17px;
  padding-bottom: 114px;
}

/*page 4*/
.section-cart_subtitle {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  color: #222222;
}
.section-cart_box {
  display: flex;
  justify-content: space-between;
}
.section-cart_text {
  padding-bottom: 28px;
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.section-cart_product {
  display: flex;
  min-width: 316px;
}
.section-cart_product:hover {
  cursor: pointer;
  outline: 1px solid #eaeaea;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}
.section-cart_nav {
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
}
.section-cart_text1 {
  display: flex;
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #575757;
}
.section-cart_text2 {
  font-weight: 300;
  color: #6f6e6e;
}
.section-cart_nav-subtitle1 {
  width: 55%;
  display: flex;
  justify-content: space-between;
}
.section-cart_input {
  text-align: center;
  outline: none;
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #656565;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}
.section-cart_description {
  padding-top: 15px;
  padding-left: 21px;
}
.section-cart_stick {
  margin-top: 20px;
  margin-bottom: 22px;
  height: 1px;
  background-color: #000000;
  border: 1px solid #eaeaea;
}
.section-cart_text3 {
  margin-right: 17px;
  width: 52%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-cart_price {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #656565;
}
.section-cart_buttons {
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 63px;
}
.section-cart_button1 {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  padding: 20px 38px 18px 39px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}
.section-cart_button1:hover {
  background-color: #f16d7f;
  color: white;
  cursor: pointer;
}
.section-cart_button2 {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  padding: 20px 39px 18px 39px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}
.section-cart_button2:hover {
  background-color: #f16d7f;
  color: white;
  cursor: pointer;
}

.section-cart_product:hover .section-cart_text {
  color: #f16d7f;
}

.section-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}
.section-form_form {
  display: flex;
  flex-direction: column;
}
.section-form_countries {
  outline: none;
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
  padding: 14px 247px 13px 18px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
}
.section-form_adress {
  width: 31.2%;
}
.section-form_text {
  margin-bottom: 22px;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.section-form_text1 {
  outline: none;
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding: 14px 247px 13px 18px;
  margin-bottom: 20px;
}
.section-form_text1::-moz-placeholder {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
}
.section-form_text1::placeholder {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
}
.section-form_country {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
}
.section-form_button {
  font-family: Lato;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  padding: 12px 14px 12px 15px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  margin-top: 3px;
}
.section-form_button:hover {
  background-color: #f16d7f;
  color: white;
  cursor: pointer;
}
.section-form_text2 {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
  padding-bottom: 24px;
}
.section-form_button1 {
  font-family: Lato;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  padding: 12px 17px 13px 18px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  margin-top: 3px;
}
.section-form_button1:hover {
  background-color: #f16d7f;
  color: white;
  cursor: pointer;
}
.section-form_total {
  padding: 40px;
  background-color: #f5f3f3;
  width: 360px;
  height: 214px;
}
.section-form_subtitle {
  margin-bottom: 14px;
  text-align: right;
  font-family: Lato;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #4a4a4a;
}
.section-form_subtitle span {
  margin-left: 20px;
}
.section-form_title {
  text-align: right;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.section-form_title span {
  color: #f16d7f;
  margin-left: 20px;
}
.section-form_stick {
  margin-top: 22px;
  margin-bottom: 17px;
  width: 275px;
  height: 1px;
  height: 1px;
  background-color: #000000;
  border: 1px solid #eaeaea;
}
.section-form_total {
  display: flex;
  flex-direction: column;
}
.section-form_button2 {
  cursor: pointer;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding: 19px 42px 18px 42px;
  background-color: #f16d7f;
  border: none;
}/*# sourceMappingURL=style.css.map */